In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st

In [2]:
df = pd.read_csv("data/prices.csv")
sample_size = len(df)
df.head()

,Average meal prices at restaurants in Gettysburg ($),Average meal prices at restaurants in Wilma ($)
0,9,11.0
1,5,10.0
2,6,12.0
3,11,9.0
4,8,8.0

In [3]:
cols = df.columns.values

In [4]:
gt = df[cols[0]].dropna()
wm = df[cols[1]].dropna()

ddof = len(gt) + len(wm) - 2

In [5]:
mu_gt = gt.mean()
mu_wm = wm.mean()

std_gt = gt.std(ddof=1)
std_wm = wm.std(ddof=1)

In [6]:
se = np.sqrt(std_gt ** 2 / len(gt) + std_wm ** 2 / len(wm))

##### Using t-score

In [7]:
# for two-tailed test, can go in either positive or negative direction
t = (mu_gt - mu_wm) / se

In [8]:
# lookup critical val from table, 5% significance level at dof = 30
t_c = 2.042

In [9]:
if t < t_c:
    print("reject null, with t-score = %.2f"%t)
else:
    print("cannot reject null, with t-score = %.2f"%t)

reject null, with t-score = -2.58

##### Using p-value

In [13]:
# significance level
alpha = 0.05

# lookup p-value using sample t-score
# note that this is two-tailed, and t < 0
p = st.t.cdf(t, df=ddof) * 2

In [14]:
if p < alpha:
    print("reject null, with p-val = %.5f"%(p))
else:
    print("cannot reject null, with p-val = %.5f"%(p))

reject null, with p-val = 0.01513